platform/macosx/Build/
platform/android/amiffy3d/jni/SDL
platform/android/amiffy3d/libs
platform/android/amiffy3d/obj
platform/android/amiffy3d/gen
platform/android/amiffy3d/bin
platform/android/.metadata
**/*.o
